* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FFF;
}

.container {
  width: 100%;
  max-width: $width-l;
  padding: 0 20px;
}

.box {
  border-radius: 3px;
  background: $color-white;
  box-shadow: 0 5px 10px 5px rgba($color-black, .15);
  text-align: center;
  padding: 10px;
}
