// Colors
$color-primary: #0747A6;
$color-secondary: #DEEBFF;
$color-third: #091E42;
$color-white: #FFF;
$color-black: #141414;

// Width
$width-xxs: '400px';
$width-xs: '600px';
$width-s: '768px';
$width-m: '1024px';
$width-l: '1366px';
$width-xl: '1600px';
$width-xxl: '1920px';


// Fonts
$font-regular: 'Helvetica Neue', sans-serif;
$font-titles: 'Georgia', serif;
