@import '../../../Styles/Variables';

#footer {
  width: 100%;
  height: 70px;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  p {
    color: $color-secondary;
  }
}
