@import '../../../Styles/Variables';

#header {
  width: 100%;
  height: 70px;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid $color-third;
  margin-bottom: 30px;
  ul {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  li {
    list-style: none;
    &:not(:last-child) {
      margin: 0 4px 0 0;
    }
    a {
      padding: 8px 20px;
      text-decoration: none;
      font-family: $font-regular;
      color: $color-secondary;
      border-radius: 3px;
      &.active {
        background-color: rgba($color-third, .25);
      }
    }
  }
}
